body {
    margin: 0;
    background: #000;
}

.contents {
    width: 100%;
    margin: auto;
    position: relative;
}

#video {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
}

#img {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 1;
}